.feedback {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 85%;
  }

  &__form {
    width: 35%;

    &-input {
      border: 1px solid rgba(51, 51, 153, 0.2);
      border-radius: 12px;
      height: 67px;
      @include fwfslh(normal, 18px, 27px);
      color: $typography;
      padding-left: 16px;
      margin-top: 16px;
      
      &::placeholder {
        color: rgba(51, 51, 153, 0.2);
      }
    }

    &-button {
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

}