.footer {
  background-color: #f9f9f9;
  padding-bottom: 60px;

  &__inner {
    height: 393px;
    display: flex;
    align-items: center;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-navigation {
    &__list {
      &-item{
        margin-bottom: 16px;
      }

      &-item + &-item:last-child {
        margin-bottom: 0;
      }
    }
    &__link {
      border-bottom: 1px solid transparent;
      transition: .5s all;
      padding-bottom: 3px;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $primary;
        transition: .5s all;
      }
    }
  }

  &__link:first-child {
    margin-right: 60px;
  }
  &__link {
    border-bottom: 1px solid transparent;
    transition: .5s all;
    padding-bottom: 3px;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $primary;
      transition: .5s all;
    }
  }
}

.menu {
  &__list {
    &-item {
      margin-bottom: 16px;
    }

    &-item + &-item:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    border-bottom: 1px solid transparent;
    transition: .5s all;
    padding-bottom: 3px;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $primary;
      transition: .5s all;
    }
  }
}

.social {
  display: flex;
  margin-top: 7px;

  &__item {
    margin-right: 21px;
  }

  &__item + &__item:last-child {
    margin-right: 0;
  }

  &__link {
    transition: .3s all;
    &:hover {
      color: #6d8bed;
      transition: .3s all;
    }
  }
}