.header {
  position: absolute;
  left: 0;
  right: 0;
  &__inner {
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
} 

.navigation {
  &__list {
    display: flex;
    &-item {
      margin-right: 60px;
      border-bottom: 1px solid transparent;
      transition: .5s all;
      padding-bottom: 3px;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $primary;
        transition: .5s all;
      }
    }

    &-item + &-item:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include fwfslh(normal, 18px, 27px);
  }

  .menu__list-item {
    display: none;
  }

  &__btn {
    display: none;
  }
} 

.logo__img {
  width: 100%;
}