.marketing {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    &:nth-child(3n) {
      flex-direction: row-reverse;
    }
  }

  &__block + &__block:last-child {
    margin-bottom: 0;
  }

  &__content {
    width: 39%;

    &-title {
      margin-bottom: 16px;
    }
  }
}