@media (max-width: 320px) {
  .header {
    .logo {
      width: 120px;
    }
    &__inner {
      height: 70px;
    }
  }

  .title {
    @include fwfslh(bold, 22px, 26px);
  }

  .navigation {
    &__list {
      top: 70px;
    }
    &__btn {
      width: 23px;
      height: 18px;
      &::before {
        width: 23px;
        top: 6px;
      }
    }
  }

  .hero {
    &__title {
      @include fwfslh(bold, 38px, 39px);
    }
    &__subtitle {
      @include fwfslh(normal, 19px, 23px);
    }
    &__wrapper {
      align-items: flex-start;
      padding-top: 10px;
    }
  }

  .benefits {
    &__item {
      width: 75%;
    }
    &__title {
      margin-bottom: 50px;
    }
    &__img {
      width: 45px;
    }
    &__text {
      margin-top: 5px;
    }
  }

  .info {
    min-height: 157px;
    &__title {
      @include fwfslh(bold, 17px, 22px);
    }
  }

  .steps {
    &__container {
      margin: 40px 0;
      &-item {
        margin-bottom: 20px;
      }
    }
  }

  .button {
    height: 38px;
    font-size: 12px;
  }

  .section {
    &-header {
      &__text {
        width: 85%;
      }
    }
  }

  .marketing__content {
    width: 100%;
  }

  .package__benefits-text {
    font-size: 13px;
  }
  .package__benefits-item {
    margin-bottom: 11px;
  }

  .feedback {
    &__form {
      width: 85%;
    }
  }

  .footer {
    &__inner {
      height: 115px;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    .logo {
      width: 130px;
    }
    .social__link {
      font-size: 20px;
    }
  }
}