@media (max-width: 480px) {

  .title {
    @include fwfslh(bold, 23px, 28px);
  }

  .text {
    @include fwfslh(normal, 14px, 19px);
  }

  .button {
    @include fwfslh(bold, 13px, 18px);
    height: 40px;
  }

  .navigation {
    &__link {
      padding: 7px 0;
    }
    .menu__link {
      padding: 7px 0;
    }
  }

  .hero {
    &__content {
      width: 100%;
      text-align: center;
    }
    &__title {
      @include fwfslh(700, 47px, 45px);
      margin-bottom: 30px;
    }
    &__subtitle {
      @include fwfslh(normal, 21px, 28px);
      margin-bottom: 30px;
    }
  }

  .benefits {
    margin: 50px 0;
    &__img {
      width: 35px;
    }
    &__text {
      margin-top: 8px;
    }
  }

  .info {
    padding-top: 20px;
    min-height: 225px;
    &__content {
      width: 55%;
    }
  }

  .section {
    padding: 50px 0;
    &-header {
      margin-bottom: 50px;
      &__text {
        width: 68%;
      }
      &__line {
        margin: 12px 0;
        width: 170px;
      }
    }
  }

  .steps {
    &__container {
      margin: 50px 0;
      &-item {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &:first-child {
          .steps__content {
            margin-left: 0;
          }
        }
      }
    }
    &__content {
      margin-left: 0;
    }
    &__num {
      font-size: 54px;
      &::before {
        all: inherit;
      }
    }
    &__title {
      margin-top: 13px;

    }
  }

  .small-title {
    @include fwfslh(bold, 17px, 21px)
  }

  .cards {
    &__card {
      max-width: 320px;
      padding: 30px;
      margin-bottom: 20px;
      &-img {
        width: 30px;
      }
    }
  }

  .marketing {
    &__block {
      margin-bottom: 35px;
      flex-direction: column;
      &:nth-child(3n) {
        flex-direction: column;
      }
    }
    &__image {
      width: 36%;
    }
    &__content {
      width: 75%;
      text-align: center;
      margin-top: 6px;
    }
  }

  .package__title {
    width: 100%;
  }

  .feedback {
    &__title {
      width: 81%;
    }
    &__form {
      width: 70%;
      &-input { 
        font-size: 13px;
      }
    }
  }

  .footer {
    padding-bottom: 10px;
    &__inner {
      height: 100px;
    }
    &__link {
      &:first-child {
        margin-right: 0;
        margin-bottom: 4px;
      }
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
    }
  }
}