@font-face {
  font-family: 'URW Geometric';
  src: url('../fonts/URWGeometric-Bold.eot');
  src: local('URW Geometric Bold'), local('URWGeometric-Bold'),
      url('../fonts/URWGeometric-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/URWGeometric-Bold.woff2') format('woff2'),
      url('../fonts/URWGeometric-Bold.woff') format('woff'),
      url('../fonts/URWGeometric-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} 

@font-face {
  font-family: 'URW Geometric';
  src: url('../fonts/URWGeometric-Regular.eot');
  src: local('URW Geometric Regular'), local('URWGeometric-Regular'),
      url('../fonts/URWGeometric-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/URWGeometric-Regular.woff2') format('woff2'),
      url('../fonts/URWGeometric-Regular.woff') format('woff'),
      url('../fonts/URWGeometric-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'URW Geometric';
  src: url('../fonts/URWGeometric-Black.eot');
  src: local('URW Geometric Black'), local('URWGeometric-Black'),
      url('../fonts/URWGeometric-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/URWGeometric-Black.woff2') format('woff2'),
      url('../fonts/URWGeometric-Black.woff') format('woff'),
      url('../fonts/URWGeometric-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'bokobok';
  src: url('../fonts/bokobok.eot');
  src: url('../fonts/bokobok.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bokobok.woff') format('woff'),
       url('../fonts/bokobok.ttf') format('truetype'),
       url('../fonts/bokobok.svg#bokobok') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
display: inline-block;
 font-family: 'bokobok';
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale
}
.icon-check:before{content:'\0041';}
.icon-fb:before{content:'\0042';}
.icon-inst:before{content:'\0043';}
.icon-link:before{content:'\0044';}
.icon-x:before{content:'\0045';}