@import 'fonts'; 
@import 'vars'; 
@import 'mixins';
@import 'reset';

*, 
*::after, 
*::before {
  box-sizing: border-box;
} 

body {
  font-family: 'URW Geometric';
  background-color: #fff;
  color: $typography;
}

.container {
  @include container(1110px);
}
 
.section {
  padding: 160px 0;
}

.text_green {
  color: $green;
}

.button {
  background-color: $green;
  border-radius: 13px; 
  text-align: center; 
  height: 62px;
  color: #fff;
  border: none;
  padding: 0 16px;
  @include fwfslh(bold, 20px, 30px);
  transition: .3s all;
  &:hover {
    cursor: pointer; 
    background-color: #04b186; 
    transition: .3s all;
  }
  &:active {
    background-color: #078f6d; 
  }
}
 
.title {
  @include fwfslh(bold, 40px, 60px);
  text-align: center;
  color: $primary; 
}

.text {
  @include fwfslh(normal, 18px, 27px);
}

.small-title {
  @include fwfslh(bold, 24px, 36px);
  color: $primary;
}

.page-text {
  @include fwfslh(normal, 18px, 27px);
}

.section {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;

    &__text {
      width: 50%;
    }

    &__line {
      height: 1px;
      width: 200px;
      background-color: $typography;
      margin: 28px 0;
    }
  }
}

@import 'page/header';
@import 'page/hero';
@import 'page/benefits';
@import 'page/info';
@import 'page/steps';
@import 'page/cards';
@import 'page/marketing';
@import 'page/package';
@import 'page/feedback';
@import 'page/footer';

@import 'media/media';